{
    "extends": "eslint:recommended",
    "env": {
        "node": true,
        "es6": true,
        "mocha": true
    },
    "parser": "babel-eslint",
    "parserOptions": {
        "ecmaVersion": 7,
        "sourceType": "module",
        "ecmaFeatures": {
            "experimentalObjectRestSpread": true
        }
    },
    "rules": {
        "no-console": "off",
        "no-var": "error",
        "eqeqeq": "error",
        "no-eval": "error",
        "no-extend-native": "error",
        "no-extra-bind": "error",
        "no-global-assign": "error",
        "no-implied-eval": "error",
        "no-multi-spaces": "error",
        "no-new-wrappers": "error",
        "no-param-reassign": "error",
        "no-sequences": "error",
        "yoda": "error",
        "prefer-const": "error"
    }
}
